.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-id":"#{@group.id}"}
          = @group.name
        %ul.main-header__left-box__member-list
          Member:
          - @group.users.each do |user|
            %li.main-header__left-box__member-list__member
              = user.name
      .main-header__edit-btn{type: 'submit', value: 'Edit'}
        = link_to 'Edit', edit_group_path(@group), class: "EDITlink"

    .message
      = render partial: 'main_chat'

    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'image'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'